.barraInicio{
    position:fixed;
    width: 2012px;
    height: 150px;
    margin-left: -100px;
    top: -10px;
    background-color: rgb(255, 255, 255) ;
    z-index: 5;
}
.ImagenInicio{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 10%;
    
} 

.efecto{
    text-decoration: none;
    color: rgb(34, 121, 235);
}
.efecto:hover {
    padding:10px;
    background-color: rgba(160, 160, 160, 0.17);
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    transition: 0.20s;
    
  }

li{
    list-style: none;
    display: inline;
    padding-left: 30px;
}

.opciones{
    margin-left: 25%;
    margin-top: 75px;
    font-size:25px;
    
    
}
.logos{
    display: inline;
    margin-left: 83%;
    position: absolute;
    bottom: -15px;
}

table{
    background-color: #92ccd1;
    padding: 200px;
    border-collapse: separate;
    border-spacing: 0px 50px;

}
td{
    background-color: white;
    padding: 30px;
    font-size: 20px
    
}

.imagenesTabla{
    width: 400px;
    height: 300px;

}
.direccion{
    font-size: 30px;
    margin-left: 80%;
    text-decoration: none;
    color: rgb(34, 121, 235);
    
}

.direccion:hover {
    padding:5px;
    background-color: #92ccd12f;
    cursor: pointer;
    border-radius: 15px;
    font-size: 30px;
    transition: 0.20s;
    color: blue;
    
    
  }