.barraInicio {
    position: fixed;
    width: 2012px;
    height: 175px;
    margin-left: -100px;
    top: -10px;
    background-color: rgb(255, 255, 255);
}

.ImagenInicio {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: rgb(34, 121, 235);

}

a:hover {

    padding: 10px;
    background-color: rgb(224, 224, 224);
    cursor: pointer;

}

li {
    list-style: none;
    display: inline;
    padding-left: 30px;
}

.opciones {

    margin-left: 30%;
    margin-top: 75px;
    font-size: 25px;

}

.logos {
    display: inline;
    margin-left: 83%;
    position: absolute;
    bottom: -15px;
}

    body{

        background-image:url(HayedoFondo.jpg); 
        background-size: cover; /* Ajustar la imagen al tamaño de la ventana del navegador */
        background-position: center; /* Centrar la imagen */
       
       
        
}

.container {

    margin: 20%;
    border-radius: 10%;
    background-color: rgba(255, 153, 0, 0.2);
    padding: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 180%;
   
}

.image-container {
    display: flex;
    justify-content: space-between;

}


h1 {
    text-align: center;
    color: #333;
}

p {
    margin-bottom: 20px;
    color:black;
    
}



.cuadradoFooter {
    margin-top: 100px;
    top: 4000px;
    background-color: #92ccd1;
    width: 100%;
    height: 150px;
}

.direccionFooter {
    font-size: 30px;
    position: absolute;
    margin-top: 32px;
    margin-left: 20px;
}

.direccionFooter2 {
    font-size: 30px;
    position: absolute;
    margin-top: 25px;
    margin-left: 70%;
}

.imagenes {
    width: 30px;
    height: 30px;
}