.barraInicio{
    position:fixed;
    width: 2012px;
    height: 150px;
    margin-left: -100px;
    top: -10px;
    background-color: rgb(255, 255, 255) ;
}
.ImagenInicio{
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 10%;
    
}
a{
    text-decoration: none;
    color: rgb(34, 121, 235);
    
}
a:hover {
    padding:10px;
    background-color: rgba(160, 160, 160, 0.17);
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    transition: 0.20s;
    
  }

li{
    list-style: none;
    display: inline;
    padding-left: 30px;
}

.opciones{
   
    margin-left: 30%;
    margin-top: 75px;
    font-size:25px;
    
    
}
.cuadrado{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 1380px;
    top: 1280px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230) ;
    box-shadow: 5px 5px rgb(118, 118, 118);
}




